@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body{
	background-color: hsl(0, 0%, 95%);
	font-family: 'Big Shoulders Display', cursive;
	color: hsl(0, 0%, 95%);
	height: 300px;
}
div#interface {
	display:block;
	width: 600px;
	background-color: none;
	margin: 130px auto auto auto;
	padding: 2px;
}

div#laranja{
	display:block;
	max-width: 160px;
	min-width: 160px;
	position: absolute;
	height: 300px;
	background-color: hsl(31, 77%, 52%);
	border: 10px hsl(31, 77%, 52%) solid;
	margin: 0px;
	border-radius: 10px 0px 0px 10px;
	padding: 10px;
}

div#blue{
	display:block;
	max-width: 160px;
	min-width: 160px;
	position: absolute;
	margin: 0px auto 0px 200px;
	height: 300px;
	background-color: hsl(184, 100%, 22%);
	border: 10px hsl(184, 100%, 22%) solid;
	padding: 10px;
}

div#darkblue{
	display:block;
	max-width: 160px;
	min-width: 160px;
	position: absolute;
	margin: -332px auto 0px 180px;
	height: 300px;
	background-color: hsl(179, 100%, 13%);
	border: 10px hsl(179, 100%, 13%) solid;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
}
h1{
	font-size: 30pt;
	text-transform: uppercase;
	margin-bottom: 0px;
}

h1:hover{
	text-shadow: 0 0 4px #fff;
}

h2{
	font-size: 15px;
	margin-top: 40px;
	border: 2px #ffffff solid;
	border-radius: 40px;
	margin-right: 40px;
	text-align: center;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

h2#laranja{
	color:hsl(31, 77%, 52%);
}

h2#laranja:hover{
	color:#ffffff;
}

h2#blue{
	color:hsl(184, 100%, 22%);
}

h2#blue:hover{
	color:#ffffff;
}

h2#darkblue{
	color:hsl(179, 100%, 13%);
}

h2#darkblue:hover{
	color:#ffffff;
}
h2:hover{
	background-color: rgba(0,0,0,0);
	transition: 0.5s;
}

p{
	font-size: 10pt;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
}
